@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  list-style: none;
}
body {
  background: radial-gradient(
    123.22% 129.67% at 100.89% -5.6%,
    #201d47 0%,
    #17153a 100%
  );
  overflow: hidden;
}

.App {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  height: 100vh;
}

.coinsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}

.chatContainer {
  display: flex;
  max-height: 75%;
  width: 220px;
  background-color: #320a6e67;
  overflow: auto;
}
.header {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.inputField {
  padding-left: 16px;
  font-size: 14px;
  width: 260px;
  height: 42px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 3pt 2pt white;
  color: black;
  font-weight: bold;
}

.paginationButtons {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.paginationButtons a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

.paginationButtons a:hover {
  color: white;
  background-color: purple;
}

.paginationActive a {
  color: white;
  background-color: purple;
}

@media (max-width: 520px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1.brand {
    padding-bottom: 16px;
  }
}
